@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>

    <form method="post">
        <table border="1">
            <tr>
                <td colspan="5">
                    <input type="text" readonly="readonly" value="0" name="visor">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="7" name="num" class="btn"></input></td>
                <td><input type="submit" value="8" name="num" class="btn"></input></td>
                <td><input type="submit" value="9" name="num" class="btn"></input></td>
                <td><input type="submit" value=":" name="num" class="btn"></input></td>
                <td><input type="submit" value="+/-" name="num" class="btn"></input></td>
            </tr>
            <tr>
                <td><input type="submit" value="4" name="num" class="btn"></input></td>
                <td><input type="submit" value="5" name="num" class="btn"></input></td>
                <td><input type="submit" value="6" name="num" class="btn"></input></td>
                <td><input type="submit" value="x" name="num" class="btn"></input></td>
                <td><input type="submit" value="c" name="num" class="btn"></input></td>
            </tr>
            <tr>
                <td><input type="submit" value="1" name="num" class="btn"></input></td>
                <td><input type="submit" value="2" name="num" class="btn"></input></td>
                <td><input type="submit" value="3" name="num" class="btn"></input></td>
                <td><input type="submit" value="-" name="num" class="btn"></input></td>
                <td rowspan="2"><input type="submit" value="=" name="num" class=" = btn"></input></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="0" name="num" class="btn"></input></td>
                <td><input type="submit" value="," name="num" class="btn"></input></td>
                <td><input type="submit" value="+" name="num" class="btn"></input></td>
            </tr>
        </table>
    </form>
</div>
