@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
</div>

<div >
    <form method="post">
        <input type="number" />
        <br /><br />

        <input type="submit" value=" 7 " />
        <input type="submit" value=" 8 " />
        <input type="submit" value=" 9 " />
        <input type="submit" value=" : " />
        <input type="submit" value="+/-" />
        <br /><br />

        <input type="submit" value=" 4 " />
        <input type="submit" value=" 5 " />
        <input type="submit" value=" 6 " />
        <input type="submit" value=" x " />
        <input type="submit" value=" c " />
        <br /><br />

        <input type="submit" value=" 1 " />
        <input type="submit" value=" 2 " />
        <input type="submit" value=" 3 " />
        <input type="submit" value=" - " />
        <input type="submit" value=" = " />
        <br /><br />

        <input type="submit" value="    " />
        <input type="submit" value=" 0 " />
        <input type="submit" value=" , " />
        <input type="submit" value=" + " />
    </form>
</div>
